<%layout('/layout/boilerplate.ejs') %>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading"><%= err.message %></h4>
  <p>Something went wrong :)</p>
  <p>Try hitting yourself with a hammer.</p>
</div>
;
